body{
margin:0;

}

#container{

   border: 2px solid #d1d5db;
   border-radius: 10px;
    width: 50%;
   margin: 50px auto;

}


#color-info{
display: flex;
justify-content: space-evenly;
align-items: center;
margin-top: 25px;
}



#btn{
background-color: white;
border: 1px solid #d1d5db;
border-radius: 5px;
padding: 12px;
cursor: pointer;
}

#btn:hover{

    color: white;
    background-color: black;
}

select{
    background-color: white;
    width: 315px;
    height: 40px;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
#color-pallet{
display: flex;

height: 500px;

width: 100%;
margin: 10px 0px;

}

#color-pallet:hover{
cursor: pointer;
}
#codes{
align-items: center;
justify-content: center;
height: 50px;
display: flex;
width: 100%;
}
